<p id="notice"><%= notice %></p>
<span>
  <strong>Name:</strong>
  <%= @user.name %> |
</span>
<span>
  <strong>Email:</strong>
  <%= @user.email %> |
</span>
<span>
  <strong>Age:</strong>
  <%= @user.age %> |
</span>
<% if current_user?(@user) %>
    <%= link_to "delete profile", @user, method: :delete,
    data: { confirm: "You sure?" } %> |
    <%= link_to 'Edit profile', edit_user_path(@user) %> |
    <%= link_to 'Users list', users_path %><br><br><br>
<% end %>
<div class="">

</div>
<div class="posts">
  <%= render @posts %>
</div>

