<%= form_for (post), url: user_posts_path(current_user) do |f| %>

    <div class="field">
      <%= f.label :title %>
      <%= f.text_field :title %>
    </div>

    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>
    </div>

    <div class="field">
      <%= f.label :user_id %>
      <%= f.number_field :user_id %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
